<!doctype html>
<html lang="en" ng-app="doraApp">
<head>
  <meta charset="utf-8">
  <title>Splash</title>
</head>
<body>
  <h1>Welcome to Splash!</h1>
  <h2><a href="/login">Login to Unlock Privacy Features!</a></h2>
  <p>By logging in, you will be able to create Splash Programs that can be set to private. If not, any program you create will be Public and Open, and you won't be able to set it to private FOREVER after that!</p>

  <p>If you just want to get started right away, <a href="/new_program/">Click Here To Create A New Public Program!</a></p>
</body>

</html>
