<!doctype html>
<html lang="en" ng-app="doraApp">
<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/static/css/zocial.css">
<link rel="stylesheet" type="text/css" href="/static/css/login.css">

<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>

<head>
  <meta charset="utf-8">
  <title>Splash!</title>
</head>
<body>

	<div class="container">
		<div class="form-signin">
					<h1>Welcome to Splash!</h1>
	  <a class="zocial googleplus" href="/login">Login to Unlock Privacy Features!</a>
	  <p>By logging in, you will be able to create Splash Programs that can be set to private. If not, any program you create will be Public and Open, and you won't be able to set it to private FOREVER after that!</p>

	  <p>If you just want to get started right away,</p>
	  <a class="btn btn-success" href="/new_program/">Click Here To Create A New Public Program!</a>

		</div>

	</div>

</body>

</html>
