<html>
<head>
    <title>Blocks for splash!</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <link href="/static/css/splash-blocks.css" rel="stylesheet" type="text/css">
</head>

<body>

  <div class="block block-statement">
    <div class="block-signature">
      <div class="block-name block-text">Statement Block</div>
      <form class="block-args">
	      <input class="block-arg" placeholder="arg1" maxlength="3">
	      <label>and</label>
	      <input class="block-arg" placeholder="arg2" maxlength="3">
      </form>
    </div>
    <div class="block-chain">
      <!-- nested blocks here -->
    </div>
  </div>

  <div class="block block-operator">
    <div class="block-signature">
      <form class="block-args">
        <div style="display: inline-block"></div><input class="block-arg" placeholder="arg1" maxlength="3">
        <label class="block-text">&#247</label>
        <div style="display: inline-block"></div><input class="block-arg" placeholder="arg2" maxlength="3">
      </form>
    </div>
  </div>

  <div class="block block-variable">
    <div class="block-signature">
      <div class="block-name block-text">Variable Block</div>
    </div>
  </div>

</body>
</html>