<html>
<head>
    <title>Blocks for splash!</title>
    <link rel="stylesheet" href="C:/Users/JunWei/Documents/GitHub/splash/splash/splash//static/css/bootstrap.min.css">
    <script src="C:/Users/JunWei/Documents/GitHub/splash/splash/splash//static/js/jquery.min.js"></script>
    <script src="C:/Users/JunWei/Documents/GitHub/splash/splash/splash//static/js/bootstrap.min.js"></script>
    <link href="C:/Users/JunWei/Documents/GitHub/splash/splash/splash/static/css/splash-blocks.css" rel="stylesheet" type="text/css">
</head>

<body>

  <div class="block">
    <div class="block-signature">
      <div class="block-name">Block Name</div>
      <form class="block-args">
	      <input class="block-arg" placeholder="arg1" maxlength="3">
	      <label>and</label>
	      <input class="block-arg" placeholder="arg2" maxlength="3">
      </form>
    </div>
    <div class="block-chain">
      <!-- nested blocks here -->
    </div>
  </div>

</body>
</html>