.block-drag-area {
	text-align: center;
}

.block-statement {
	border: 2px solid;
	padding: 5px;
	border-radius: 5px;
	display: inline-block; /* to make parent wrap child for nesting*/
	background: #FFF;
	position: relative;
	min-width: 200px;
}

.block-expression {
	border: 2px solid;
	padding: 2px;
	display: inline-block; /* to make parent wrap child for nesting*/
	background: #FFF;
	position: relative;
	min-width: 120px;
}

.block-event {
	border: 2px solid;
	padding: 5px;
	border-radius: 5px 5px 0 0;
	display: inline-block; /* to make parent wrap child for nesting*/
	background: #FFF;
	position: relative;
	min-width: 200px;
}


.block-signature {
    position: relative;
    margin: 0;
    white-space: nowrap;
    min-height: 23px;
    text-align: center;
    overflow: hidden;
}

.block-name {
	margin-top: 3px; /*manually pushing block name down to align with inputs :(*/
	display: inline-block;
	float: left;
}

.block-text-outline {
	color: white;
	text-shadow: 	0px 0px 1px #000, 
					0px 0px 1px #000, 
					0px 0px 1px #000,
					0px 0px 1px #000,
					0px 0px 1px #000, 
					0px 0px 1px #000;
	display: inline-block;
}

.block-text-operator {
	height: 18px;
	font-size: 18px;
	display: inline-block;
	vertical-align: middle;
}

.float-right {
	float: right;
}

.block-arg-wrapper {
	display: inline-block;
	vertical-align: middle;
}

.block-arg {
	width: 40px;
}

.sub-blocks {
	/*padding-top: 5px;*/
}

.sub-blocks-buffer {
	height: 30px;
}

.chain-snap-area {
	height: 30px;
	min-width: 200px;
	background: default;
	border-radius: 5px;
	background: #FFF;
	opacity: 0.5;
	position: relative;
	clear: left;
}

.expression-snap-area {
	height: 23px;
	min-width: 50px;
	background: default;
	background: #FFF;
	opacity: 0.5;
	position: relative;
}

.drag-hover {
	background: #FFFF00;
}

.template-block {
	text-align: left;
}























.block-default {
	background-color: none;
}

.block-crimson {
	background-color: #dc143c;
}

.block-goldenrod {
	background-color: #daa520;
}

.block-gold {
	background-color: #fdd700;
}

.block-forestgreen {
	background-color: #228b22;
}

.block-pureblue {
	background-color: #0000FF;
}

.block-dodgerblue {
	background-color: #1e90ff;
}

.block-midnightblue {
	background-color: #191970;
}

.block-indigo {
	background-color: #4b0082;
}

.block-plum {
	background-color: #dda0dd;
}