.splashStudio .container {
	width: 100%;
}

.splashStudio .row {
	margin-top: 60px;
}

.signIn{
    width: 150px;
    text-align: left;
    background: #F5F5F5;
	margin-top: 10px;
	min-width: 70px;
	border-radius: 5px;
	margin-right: 3px;
}

#signInButton {
	min-width: 70px;
	border-radius: 5px;
	background: #C9CCF0;
	font-size: 14px;
}

.stage {
	margin-bottom: 10px;
	min-height: 53%;
	/*background: #AEF5D8;*/
	background: #A8A8A8;
	position: relative;
}

.stageBtn {
	display: block;
	margin-top: 5px;
	margin-right: 3px;
	width: 55px;
	font-size: 11px;
}

.stageOutput {
	display: inline;
	border: 1px solid black;
	position: absolute;
	min-height: 90.5%;
	margin-top: 35px;
	border-radius: 5px;
	background-image: url("/static/images/background_default.png");
}

.gallery {
	min-height: 33%;
	/*background: #F5AECB;*/
	background: #A8A8A8;
}

.gallery .nav > li > a{
	font-size: 12px;
	color: black;
}

.galleryTabs > li > a:hover {
	/*color: black;*/
}

.gallerySelection {
	border: 1px solid black;
	min-height: 27%;
	border-radius: 5px;
	background: white;
}

.galleryBtn {
	display: block;
	margin-top: 10px;
	width: 55px;
	font-size: 11px;
}

.palette {
	height: 87.5%;
	background: #A8A8A8;
	overflow-y: scroll;
	overflow-x: visible;
}

#movementPal, #appearancePal, #visibilityPal {
	margin-bottom: 7px;
}

#loopPal {
	margin-bottom: 6px;
}

.panel-heading {
	padding-top: 6px;
	padding-bottom: 6px;
}

.panel-body {
	min-height: 16%;
	/* text-align: center; */
	overflow: visible;
}

.canvas {
	min-height: 87.5%;
	/*background: #F5F4AE;*/
	background: lightgrey;
	position: relative;
	overflow: hidden;
}

.stage, .gallery, .palette, .canvas {
	border: 1px solid grey;
	border-radius: 5px;
	font-size: 12px;
}